/*
 _     _                _____             _                  
| |   | |              (____ \           (_)                 
| |__ | | ____  ____    _   \ \ ____  ___ _  ____ ____   ___ 
|  __)| |/ _  |/ _  |  | |   | / _  )/___) |/ _  |  _ \ /___)
| |   | ( ( | ( ( | |  | |__/ ( (/ /|___ | ( ( | | | | |___ | 
|_|   |_|\_||_|\_|| |  |_____/ \____|___/|_|\_|| |_| |_(___/ 
              (_____|                      (_____|

======================
MODULAR HELPER CLASSES (Based on the Bootstrap helpers)
======================
VERSION: 1.0
============

Part of an effort to create a modular, lightweight CSS framework.

These helper classes are designed to aid in creating small design tweaks.

*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.align-center {
  text-align: center;
}
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background: #eee;
  border-radius: 5px;
  padding: 10px 30px;
}
.show-grid:hover [class*="span"] {
  background: #d5d5d5;
}
