/*
 _     _                _____             _                  
| |   | |              (____ \           (_)                 
| |__ | | ____  ____    _   \ \ ____  ___ _  ____ ____   ___ 
|  __)| |/ _  |/ _  |  | |   | / _  )/___) |/ _  |  _ \ /___)
| |   | ( ( | ( ( | |  | |__/ ( (/ /|___ | ( ( | | | | |___ | 
|_|   |_|\_||_|\_|| |  |_____/ \____|___/|_|\_|| |_| |_(___/ 
              (_____|                      (_____|

=============
MAIN CSS FILE
=============
VERSION: 1.0
============

Part of an effort to create a modular, lightweight CSS framework.

Title:
Website CSS Version:
Website URL:

*/


/*
LESS VARIABLES
=========
 */

@pink: #e1377b;
@blue: #0094D9;
@light-grey: #d7e6ed;
@med-grey: #888;
@dark-grey: #3c4c54;
@margin-bottom: 50px;
@margin-right: 5%;
@line-height: 2.5rem;

/*
SELECTED MODULES
================
*/

@import "normalize.css";
@import "fluid-grid";
@import "type";

