// =============
// MAIN CSS FILE
// =============
// VERSION: 1.2
// ============

// Part of an effort to create a modular, lightweight CSS framework.

/*
Website Title: Chipped Beef
Website CSS Version: 1.0
Website URL:
*/


// LESS VARIABLES (Others can be found inside of other modules)
// =========

@backgroundColor: 	#ffffff;
@primaryTextColor: 	#333333;
@secondaryColor: 	#f44040;
@muted:				#999999;
@subtle:			#ececec;

@error:				#E74C3C;
@success:			#2ECC71;
@warning: 			#F1C40F;
@info:				#3498DB;


// SELECTED MODULES
// ================
// If you don't want to use a certain feature, just comment it out. Hooray for lightweight stylesheets!


@import "normalize"; //Probably shouldn't remove this one.
@import "helper";
@import "buttons";
@import "forms";
@import "type";
@import "grid";


// YOUR STYLES GO RIGHT HURR -- BELOW THIS LINE
// =========================


body {
	background: @backgroundColor;
	color: @primaryTextColor;
}

a {
	color: @secondaryColor;
	text-decoration: none;
}

a:hover {
	color: darken(@secondaryColor, 10%);
}